#footer{
  background: #202528;
  padding: 60px 30px;
  p,a{
    font-size: 26px;
    color: #fff;
    display: block;
    margin-right: 40px;
    margin-bottom: 20px;
  }
  img{
    width: 305px;
    height: auto;
  }
}