#attest{
  padding: 70px 30px 30px;
  background: #f3f3f3;
  
  h3{
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    font-weight: normal;
  }
  .attest-item{
    margin-bottom: 50px;
  }
}